/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}

/* Main Navigation */
.main-nav {
  display: flex;
  position: fixed;
  background-color: white;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.icon {
  font-size: 2rem;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  list-style: none;
}

.nav-link a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.nav-link a:hover {
  color: gray;
}

.nav-link:last-child {
  padding-right: 2rem;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./images/bob-brewer-r1PIQ6mBs8I-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

header h1 {
  font-size: 4rem;
}
header h1 span {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

/* Section 1 */
.section-1 {
  padding-top: 60px;
}
.section-1 h2 {
  text-align: center;
  margin-top: 2rem;
}
.card-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.card {
  width: 30%;
  border: 1px solid black;
  border-radius: 3rem;
  margin: 2.5%;
  padding: 1rem;
  margin: 1rem;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card h3 {
  padding-bottom: 2rem;
  text-align: center;
}

.card p {
  line-height: 2;
  margin: 2rem;
}

.card ul,
.card ol {
  margin: 3rem;
  line-height: 2;
}
/* Section 2 */
.section-2 {
  padding-top: 60px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-box h2 {
  margin-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.left-box p {
  line-height: 2;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
}

.right-box {
  height: 100%;
  width: 100%;
  background-image: url(./images/spenser-sembrat-zex-DxAFLkY-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

/* Packages Section */
.section-3 {
  background-color: gray;
  padding-top: 60px;
}

.section-3 h2 {
  margin-top: 3rem;
  text-align: center;
}

.packages {
  padding-top: 3rem;
  height: 100vh;
}

.packages-card {
  background-color: silver;
  border: 1px solid black;
  border-radius: 3rem;
  width: 23%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.packages-card h3 {
  padding: 2rem;
  font-size: 2rem;
}

.packages-card p {
  font-weight: 700;
  padding-bottom: 1rem;
  margin-left: 3rem;
}

.packages-card ul {
  padding: 1rem 2rem;
  margin: 1rem 3rem;
  line-height: 1.7;
}

.packages-card h4 {
  font-size: 2rem;
  text-align: center;

  color: red;
}

.btn-choose {
  background-color: green;
}

.btn {
  padding: 1rem 5rem;
  margin: 2rem;
  border-radius: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
}

/* Testimonials */
.section-4 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
}

.testimonial-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  border-radius: 50%;
  overflow: hidden;
  margin-top: 2rem;
}

.text-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.text-container h3 {
  padding: 2rem;
}

.text-container p {
  line-height: 1.5;
}

/* Frequent Asked Questions */
.section-5 {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  align-items: center;
  background-color: gray;
}

.section-5 h2 {
  text-align: center;
}

.faq-container {
  padding: 4rem;
  width: 60%;
}

.faq {
  line-height: 2;
  padding: 1rem 5rem;
}

.faq h3 {
  margin-bottom: 2rem;
}

/* Contact */
.section-6 {
  padding-top: 60px;
}

.section-6 h2 {
  text-align: center;
}

.contact-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

form {
  width: 50%;
  padding: 25px;
  margin: 25px;
  box-shadow: 0 2px 5px #f5f5f5;
  background: #f5f5f5;
}

input,
textarea,
select {
  width: calc(100% - 18px);
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #1c87c9;
  border-radius: 5px;
}

input::placeholder {
  color: #666;
}

.btn-submit {
  width: 100%;
  padding: 10px;
  border: none;
  background: #1c87c9;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding: 1rem 5rem;

  border-radius: 3rem;
}
.btn-submit:hover {
  background: #2371a0;
}
/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  background-color: black;
  height: 200px;
}

.link-container a {
  color: white;
}

.copyright {
  text-align: center;
}
